    html,body
{
    background-color: black;
}

a
{
    color: #FFF;
}

p
{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
}

.spriteElement
{
    display: block; 
    overflow: hidden;
    background-repeat: no-repeat;
}

.card
{
    /*border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.6);*/
    background-color: #000;
    /*border: 1px solid #111;*/
    padding: 4px;
}

.card .image
{
    width: 108px;
    height: 144px;
    /*border-radius: 6px;*/
}

.card.large .image
{
    width: 180px;
    height: 225px;
}

.card #title
{
    /*padding: 2px 0;
    text-indent: 8px;*/
    left : 4px;
    right : 4px;
    bottom : 16px;
    /*font: 18px 'KingthingsPetrockRegular', cursive;*/
    font: italic bold 14px Cambria, Geneva, Arial;
    color: white;
    /*text-align: center;*/
    /*text-shadow: 0 0 0.4em #000, 0 0 0.4em #000, 0 0 0.4em #000;*/
    line-height: 90%;
    background-color: black;
    padding: 4px 8px;
    opacity: 0.8;
}

.actor.right #sprite
{
    transform: scaleX(-1);
}

.gameScreen #background
{
    border: 4px solid black;
}

.gameScreen #description
{
    background-color: white;
    border: 2px solid #000;
    border-left-width: 0px;
    font: italic 18px "Comic Sans MS", cursive;
    padding: 8px;
    max-width: 80%;
}

.gameScreen #center
{
    top: 0%;
    bottom: 25%;
    /*-webkit-mask-box-image: url('../Content/Images/UI/Mask.png');*/
}

.gameScreen #center > #title
{
    color: #dac056;
    font: 30px "dpcomic", cursive;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
    margin: 40px auto 20px auto;
    text-shadow:
       3px 3px 0 #000,
     -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
       2px 2px 0 #000;
}

.gameScreen #center > #features
{
    color: white;
    font: 12px "Minecraftia", cursive;
    text-shadow: 2px 2px 0 #000;
    margin: 0px auto;
    max-width: 65%;
    z-index: 1;
}

.gameScreen #center > #prompts
{
    color: white;
    font: 12px "Minecraftia", cursive;
    text-shadow: 2px 2px 0 #000;
    margin: 0px auto;
    max-width: 65%;
    z-index: 1;
}

.gameScreen > #stage
{
    top: 12%;
    bottom: 25%;
}

.cardBack
{
    position: absolute;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.6);
    background-color: #000;
    border: 1px solid #111;
    width: 100%;
    height: 100%;
}

.cardTitle
{
    /*padding: 2px 0;
    text-indent: 8px;*/
    position: absolute;
    left : 10px;
    right : 6px;
    bottom : 6px;
    font: 18px 'KingthingsPetrockRegular', cursive;
    color: white;
    /*text-align: center;*/
    text-shadow: 0 0 0.4em #000, 0 0 0.4em #000, 0 0 0.4em #000;
    line-height: 90%;
}

.cardDesc
{
    /*background-color: #eec;*/
    left : 3px;
    right : 3px;
    bottom : 6px;
    padding: 2px 0;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    font: 14px 'KingthingsPetrockRegular', cursive;
    color: white;
    text-shadow: 0 0 0.6em #000, 0 0 0.6em #000, 0 0 0.6em #000;
}

#table
{
    /*background-color: rgba(0, 0, 0, 0.6);*/
}

#message
{
    left: 200px;
    width: 600px;
    height: 100%;
    font: 18px 'KingthingsPetrockLightRegular', cursive;
    color: white;
    position: absolute;
}

.option
{
    cursor: default;
}

.option:hover
{
    color: red;
}

.narrativeText
{
    left: 256px;
    top: 576px;
    width: 512px;   
}

.speechBubble
{
    max-width: 256px;
}

.dialogBlocker
{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 300;
}

.dialogBox 
{
    position: absolute;
    background-image:url(../Content/Images/UI/DialogBack.png);
    padding: 5px 5px 5px 5px;
    /*position:absolute !important;
    max-width: 30em;*/
    /*-webkit-box-shadow: 3px 6px 14px 8px #333; 
    box-shadow: 3px 6px 14px 8px #333; */
    /*-webkit-box-shadow: 1px 2px 4px 2px #111; */
    box-shadow: 1px 2px 4px 2px #111;
    writing-mode: lr-tb; 
    border: 1px solid grey;
    font: 18px 'Bubblegum Sans', cursive;
    word-wrap: break-word;
    //word-break: break-all;
    z-index:200;
}

@-webkit-keyframes tickAnim
{
    from { bottom: 0px; }
    to { bottom: 5px; }
}

.dialogTick
{
    position: absolute;
    right: 24px;
    bottom: 2px;
    -webkit-animation: tickAnim 0.5s ease 0s infinite alternate;
}

.activity 
{
    writing-mode: lr-tb; 
    font: 18px 'Bubblegum Sans', cursive;
    color: white;
}

.location
{
    position: relative;
    height: 120px;
}

.entity
{
    position: relative;
    width: 200px;
    min-height: 80px;
}

.actions
{
    position: relative;
    left: 40px;
    font: 18px 'Bubblegum Sans', cursive;
    color: white; 
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px; 
}

@font-face
{
    font-family: 'KingthingsPetrockRegular';
    src: url('../Content/Fonts/Kingthings_Petrock-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face
{
    font-family: 'KingthingsPetrockLightRegular';
    src: url('../Content/Fonts/Kingthings_Petrock_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'dpcomic';
    src: url('../Content/Fonts/dpcomic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Minecraftia';
    src: url('../Content/Fonts/Minecraftia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


