<template id="player-view" 
	$on-card-selected="player.selectCard($e.detail.card)">
	<style>
	:host
	{ 
		display: block; 
		width: 100%;
		height: 100%;
		position: relative;
	}
	field-view
	{
		width: 100%;
		height: 75%;
	}
	hand-view
	{
		width: 100%;
		height: 25%;
	}
	</style>
	<field-view id="field" $field="player.world.field"></field-view>
	<hand-view id="hand" $hand="player.hand" $playing-card="player.playingCard"></div>
</template>


<template id="field-view">
	<style>
	:host
	{
		display: block;
	}
	#encounter_area
	{
		height: 55%
	}
	#party_area
	{
		height: 45%;
	}	
	</style>
	<div id="encounter_area"></div>
	<div id="party_area">
		#foreach (card in field.getCardsInArea($FieldArea.Party))
			<card-view $card="card"></card-view>
		#end
	</div>	
</template>

<template id="hand-view">
	<style>
	:host
	{
		display: block;
	}
	card-view
	{
		transform: scale(0.8);
	}
	</style>
	<div>
		#foreach (card in hand)
			<card-view data-playing='{card==playingCard}' $card="card"></card-view>
		#end
	</div>	
</template>

<template id="card-view" $on-click="->card-selected">
	<style>
	:host
	{
		display: block;
		width: 136px;
		height: 192px;
	}
	#frame
	{
		position: relative;
		width: 100%;
		height: 100%;
	}
	#frame:hover
	{
		transform: scale(1.1);
	}
	:host([data-playing='true']) #frame
	{
		transform: scale(1.25);
	}
	#border
	{
		width: 100%;
		height: 100%;
		border: 2px white solid;
		box-sizing: border-box;		
	}
	#portrait
	{
		position: absolute;
		bottom: 0px;
		width: 192px;
		height: 228px;
		left: -28px;
	}
	</style>
	<div id="frame">
		<div id="border"></div>
		<sprite-img id="portrait" $sprite="card.smallPortrait"></sprite-img>	
	</div>
</template>

