
<template id="card-view" 
	.on-click="->card-selected"
	style="transform: translate({center.x}px, {center.y}px);"
	>
	<style>
	:host
	{
		display: block;
		position: absolute;
		pointer-events: none;		
	}
	#frame
	{
		position: absolute;
		width: 136px;
		height: 192px;
		transform: translate(-50%, -50%);
		pointer-events: auto;
	}
	#border
	{
		position: absolute;
		width: 100%;
		height: 100%;
		border: 1px gray solid;
		/*box-sizing: border-box;*/
		background-color: gray;
	}
	#portrait
	{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	</style>
	<div id="root">
		<div id="frame">
			<div id="border"></div>
			<sprite-img id="portrait" .sprite="card.smallPortrait"></sprite-img>
		</div>
	</div>
</template>

