
<template id="card-view" 
	.on-click="->card-selected"
	style="transform: translate({center.x}px, {center.y}px);"
	data-active="{card.state.activated || card.state.targeted}"
	data-expand-up="{expandUpwards}"
	>
	<style>
	:host
	{
		display: block;
		position: absolute;
		pointer-events: none;
		contain: layout size style;
	}

	:host([data-active='true']) #pivot
	{
		--expand-direction: 1;
		transform: scale(1.2) translateY(calc(var(--expand-direction)*48px));
	}

	:host([data-expand-up='true']) #pivot
	{
		--expand-direction: -1;
	}

	#frame
	{
		position: absolute;
		width: 136px;
		height: 192px;
		transform: translate(-50%, -50%);
		pointer-events: auto;
		border-radius: 16px;
		overflow: hidden;
		border: 2px solid transparent;
		background-color: black;
		box-shadow: 
			0 2px 20px 0 rgba(0,0,0,0.54), 
			0 1px 50px 0 rgba(0,0,0,0.52), 
			0 3px 10px -2px rgba(0,0,0,0.32);
	}
	/*
	#border
	{
		position: absolute;
		width: 100%;
		height: 100%;
		border: 1px gray solid;
		box-sizing: border-box;
		background-color: gray;
	}*/
	#portrait
	{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	</style>
	<div id="root">
		<div id="pivot">
			<div id="frame">
				<!--div id="border"></div-->
				<sprite-img id="portrait" .sprite="card.smallPortrait"></sprite-img>
			</div>
		</div>
	</div>
</template>

