<template id="player-view">
	<style>
	:host
	{
		display: block; 
		position: absolute;
		width: 100%;
		height: 100%;
	}
	#hand
	{
		position: absolute;
		width: 100%;
		height: 200px;
		bottom: 16px;
	}
	#party
	{
		position: absolute;
		width: 100%;
		height: 200px;
		bottom: 220px;
	}
	#encounter
	{
		position: absolute;
		width: 100%;
		height: 200px;
		top: 32px;
	}
	#cards
	{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	</style>
	<area-view id="hand" -proxy="AreaProxy:player.hand"></area-view>
	<area-view id="party" -proxy="AreaProxy:player.partyArea"></area-view>
	<area-view id="encounter" -proxy="AreaProxy:player.encounterArea"></area-view>
	<div id="cards">
		#map (card in player.allCards)
			<card-view 
				-proxy="CardProxy:card"
				.on-card-selected="player.onCardSelected($e.detail.card)">
			</card-view>
		#end
	</div>
</template>

<template id="area-view">
	<style>
	:host
	{
		display: block;
	}
	</style>
	<div></div>	
</template>

