
<template id="card-view" 
	.on-click="->card-selected"
	style="transform: translate({center.x}px, {center.y}px);"
	data-active="{card.state.activated || card.state.targeted}"
	data-expand-up="{expandUpwards}"
	>
	<style>
	:host
	{
		display: block;
		position: absolute;
		pointer-events: none;
		contain: layout size style;
	}

	:host([data-active='true']) #pivot
	{
		--expand-direction: 1;
		transform: scale(1.2) translateY(calc(var(--expand-direction)*48px));
	}

	:host([data-expand-up='true']) #pivot
	{
		--expand-direction: -1;
	}

	#frame
	{
		position: absolute;
		width: 136px;
		height: 192px;
		transform: translate(-50%, -50%);
		pointer-events: auto;
	}
	
	#border
	{
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 16px;
		overflow: hidden;
		--card-border: 2px;
		border: var(--card-border) solid transparent;
		margin: calc(-1*var(--card-border));
		background-color: black;
		box-shadow: 
			0 2px 20px 0 rgba(0,0,0,0.54), 
			0 1px 50px 0 rgba(0,0,0,0.52), 
			0 3px 10px -2px rgba(0,0,0,0.32);
	}

	#portrait
	{
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#health_box
	{
		position: absolute;
		visibility: hidden;
		left: -8px;
		bottom: -8px;
		width: 64px;
		height: 64px;		
	}

	#health_box[data-living="true"]
	{
		visibility: visible;
	}

	#health_icon
	{
		position: absolute;
		width: 100%;
		height: 100%;
	}

	#health_num
	{
		position: absolute;
		top: 4px;
		width: 100%;
		height: 100%;
		font: 54px 'KingthingsPetrockLightRegular', cursive;
		text-align: center;
		text-shadow: 0 0 10px black
	}

	</style>
	<div id="root">
		<div id="pivot">
			<div id="frame">
				<!--div id="border"></div-->
				<div id="border">
					<sprite-img id="portrait" .sprite="card.smallPortrait"></sprite-img>
				</div>				
				<div id="health_box" data-living="{isLiving}">
					<sprite-img id="health_icon" .sprite='$Archive.getDef("sprite.icon.heart")'></sprite-img>
					<div id="health_num">{health}</div>					
				</div>
			</div>
		</div>
	</div>
</template>

